        @page {
      margin-top:50px; /* Set top, bottom, left, and right margins to 1 inch */
      margin-bottom :50px;
      }
    body {
      margin: 0; /* Remove body margin as it's handled by @page */
    }
      html {
        -webkit-print-color-adjust: exact;
      }
      .job-container {
        background-image: linear-gradient(to right, #70c9c1, #4a90e2) !important; 
        color: white ;
        padding: 1rem; 
        text-align: center;
       
      }
       .resume-content{
        margin-right:100px;
        margin-left:100px
        
        
        }
     .section-title {
  color: #9BBB59;   /* Equivalent to text-nts-text-green */
  font-weight: bold; /* Equivalent to font-bold */
  font-size: 1.25rem; /* Equivalent to text-xl */
}

      
    .section-text{
    font-size:18px;
    text-align: justify;
    
    }
    .mb-2{
      margin-bottom : 2px;
    }
     
      .text-center {
        text-align: center;
      }
     
      .font-bold {
        font-weight: bold;
      }
      .text-2xl {
        font-size: 1.5rem;
      }
      
     
      .text-xl {
        font-size: 1.25rem;
      }
      .uppercase {
        text-transform: uppercase;
      }
  
      .list-disc {
        list-style-type: disc;
        text-align:justify;
      }
      .list-inside {
        padding-left: 1.5rem;
        text-align:justify;
      }
     
    .font-semibold{
    font-weight:600;
    
    }
      .bg-white {
        background-color: #ffffff;
      }
      .text-black {
        color: #000000;
      }
     
      .rounded {
        border-radius: 0.25rem;
      }
      .text-lg {
        font-size: 1.125rem;
      }
      .text-black {
        color: #000000;
      }
      .left{
        display: none;
      }
      .text-gray-700 {
        color: #000000;
      }
      .text-[16px] {
        font-size: 16px;
      }
      .header-logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.19cm;
        width: 2.38cm;
       background-size: contain;
        background-repeat: no-repeat;
      }
      .header-logo-netsense {
        position: absolute;
        top: 2%;
        right: 5%;
        height: 1.57cm;
        width: 6.35cm;
       background-size: contain;
        background-repeat: no-repeat;
      }
        .name{
        margin-top:17%;
        margin-bottom:30px;
        margin-left:100px;
         text-align: left;
         font-size:30px;
       
        
        }
